body {
    margin: 0px;
    font-family: arial;
}

.section-1 { 
    background-color: #4915f8;
    color: white;
    display: flex; 
    flex-direction: row;
    align-items: center;
}


input [type='button'] {
    padding: 7px 20px;
    font-weight: bold; 
    border: 0px;
    border-radius: 15px;
}

.center {
    display: flex;
    Justify-content: center;
 }

a:visited {
    color: white;
   }
 
   a:hover {
     color: #999999;
   }

   .headline-1 {
   font-size: 20px; 
   }
   .headline-2 {
    font-size: 30px; 
    font-weight: bold; 
   }
.section-2 {
    display: flex;
 
}
h1 {
    font-size: 10em;
}
